@model onpe_sql.Models.ActaDetalle

@if( Model != null && !string.IsNullOrEmpty(Model.id))
{
    

<div class="contenido-resultados">
    <button class="btn btn-primary pull-right" onclick="limpiar()" type="button" id="btn-regresar">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        REGRESAR
    </button>
    <p>&nbsp;</p>

    <div class="row">
        <div class="tab-info">
            <div class="tab-content">
                <div id="detMesa">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="presidencial">
                            <div class="tab-info-desc">

                                <div class="row">

                                    <div class="col-xs-3 col-md-4">
                                        <div class="mesap01">
                                            <img src="~/images/mp-sin.jpg" class="img-responsive">
                                            Si requiere la imagen del acta, solicítela a través del procedimiento de acceso a la información pública.
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-md-8">
                                        <div class="row">

                                            <div class="col-xs-12">
                                                <p class="subtitle1">ACTA ELECTORAL</p>
                                                <div id="page-wrap">
                                                    <table class="table13" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>Mesa N°</th>
                                                                <th>N° Copia</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>@Model.id</td>
                                                                <td>@Model.nCopia</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-xs-12">
                                                <p class="subtitle1">INFORMACIÓN UBIGEO</p>
                                                <div id="page-wrap">
                                                    <table class="table14" cellspacing="0">
                                                        <tbody>
                                                            <tr class="titulo_tabla">
                                                                <td><span id="lbldep">DEPARTAMENTO</span></td>
                                                                <td><span id="lblprov">PROVINCIA</span></td>
                                                                <td><span id="lbldis">DISTRITO</span></td>
                                                                <td>Local de votación</td>
                                                                <td>Dirección</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@Model.departamento</td>
                                                                <td>@Model.provincia</td>
                                                                <td>@Model.distrito</td>
                                                                <td>@Model.razonSocial</td>
                                                                <td>@Model.direccion</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-xs-12">
                                                <p class="subtitle1">INFORMACIÓN MESA</p>
                                                <div id="page-wrap">
                                                    <table class="table15" cellspacing="0">
                                                        <tbody>
                                                            <tr class="titulo_tabla">
                                                                <td>Electores hábiles</td>
                                                                <td>Total votantes</td>
                                                                <td>Estado del acta</td>
                                                            </tr>
                                                            <tr>
                                                                <td>@Model.EH</td>
                                                                <td>@Model.TV</td>
                                                                <td>@ViewBag.Estado</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="col-xs-12 pbot30_acta">
                                        <p class="subtitle1">LISTA DE RESOLUCIONES</p>
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No hay resoluciones para el acta seleccionada
                                        <div id="page-wrap">
                                            <div class="col-md-12 resolu"></div>
                                        </div>
                                        <!-- <p class="centro"># : El valor consignado en el acta presenta ilegibilidad.</p> -->
                                    </div>
                                </div>

                                <div>
                                    <div class="col-xs-12">
                                        <p class="subtitle1">INFORMACIÓN DEL ACTA ELECTORAL</p>
                                        <div id="page-wrap" class="cont-tabla1">
                                            <table class="table06">
                                                <tbody>
                                                    <tr class="titulo_tabla">
                                                        <td colspan="2">Organización política</td>
                                                        <td>Total de Votos</td>
                                                    </tr>
                                                    <tr>
                                                        <td>PERUANOS POR EL KAMBIO</td>
                                                        <td><img width="40px" height="40px" src="~/images/simbolo_keyko.jpg"></td>
                                                        <td>@Model.P1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>FUERZA POPULAR</td>
                                                        <td><img width="40px" height="40px" src="~/images/simbolo_pkk.jpg"></td>
                                                        <td>@Model.P2</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">VOTOS EN BLANCO</td>
                                                        <td>@Model.VB</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">VOTOS NULOS</td>
                                                        <td>@Model.VN</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">VOTOS IMPUGNADOS</td>
                                                        <td>@Model.VI</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">TOTAL DE  VOTOS EMITIDOS</td>
                                                        <td>@ViewBag.TotalVotos</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
}
else
{
    <div class="contenido-resultados">
        <button class="btn btn-primary pull-right" onclick="limpiar()" type="button" id="btn-regresar">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            REGRESAR
        </button>
        <p>&nbsp;</p>

        <div class="row">
            <div class="tab-info">EL NÚMERO DE MESA QUE HA INGRESADO NO EXISTE</div>
        </div>
    </div>  
}
    