@model List<onpe_sql.Models.Participacion>
@{
    ViewBag.Title = "Onpe";
    ViewData["Footer"] = "inside";
    Layout = "~/Views/Shared/_Onpe.cshtml";
}
/
<div id="imprimelo3">
    <div class="container">
        <img src="~/images/f-participacion.jpg" width="1170" height="248" class="img-responsive mg30top">

        <section class="menu navbar-default menu05">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a name="posicion"></a>
            <nav class="navbar-collapse bs-navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li class="bt-azul">
                        <a href="./presidenciales.html">PRESIDENCIAL</a>
                    </li>
                    <li class="bt-amarillo">
                        <a href='@Url.Action("verActasUbigeo", "Actas")'>ACTAS</a>
                    </li>
                    <li class="bt-rojo act-rojo">
                        <a href='@Url.Action("verParticipacion", "Participacion")'>PARTICIPACIÓN CIUDADANA</a>
                    </li>
                </ul>
            </nav>
        </section>
        <br /><br /><br /><br />

        <section class="contenedor">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="menu-interna">
                        <ul>
                            <li><a href='@Url.Action("verParticipacion", "Participacion")' class="act-izq">TOTAL</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9" id="impreso">
                    <div class="contenido-interna">
                        <div class="titulos col-xs-12">
                            <div class="col-xs-11">
                                <h3> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="font-size:19px"></span> SEGUNDA ELECCIÓN PRESIDENCIAL 2016: PARTICIPACIÓN CIUDADANA</h3>
                            </div>

                            <div class="col-xs-1 oculto-boton-print">
                                <button onclick="printContent('impreso');"><i class="fa fa-print ico-print"></i></button>
                            </div>
                        </div>

                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="history.go(-1);"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> REGRESAR</button>
                                    </td>
                                    <td width="60%">&nbsp;</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="location.href='./generar_datos_participacion_excel.php?tipoCobertura=Nacional&amp;ubigeo=Todos'">REPORTE DETALLADO EN EXCEL</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-xs-12">
                            <p class="subtitle">ACTAS CONTABILIZADAS</p>
                            <div class="col-lg-7 centered">
                                <div class="col-xs-12 col-md-12 col-lg-12 cont-curv">
                                    <div class="col-xs-3 col-md-1">
                                        <span class="glyphicon glyphicon-ok-circle ico-info" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-xs-9 col-md-11">
                                        <ul>
                                            <li>ACTUALIZADO EL 20/06/2016 A LAS 19:16 h </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>

                        <div class="col-xs-12 line pbot30">
                            <div class="col-xs-12 col-md-6">
                                <img src="~/images/estadistico.png?_tot_participacion=81.543&amp;_tot_ausentismo=18.457" class="img-responsive">
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="cont-recto" style="margin-bottom:10px">
                                    <div><strong>Ámbito:</strong> @ViewBag.Ambito</div>

                                    @if (ViewBag.DatoNivel1 != null)
                                    {
                                        <div><strong>@ViewBag.EtiquetaNivel1:</strong> @ViewBag.DatoNivel1</div>
                                    }
                                    @if (ViewBag.DatoNivel2 != null)
                                    {
                                        <div><strong>@ViewBag.EtiquetaNivel2:</strong> @ViewBag.DatoNivel2</div>
                                    }
                                </div>
                                <p class="subtitle">ELECTORES HÁBILES 22,017,030</p>
                                <div id="page-wrap">
                                    <table class="table09_2" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>PARTICIPACIÓN</th>
                                                <th>AUSENTISMO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>TOTAL: 17,953,367</td>
                                                <td>TOTAL: 4,063,663</td>
                                            </tr>
                                            <tr>
                                                <td>% TOTAL: 81.543%</td>
                                                <td>% TOTAL: 18.457%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12">
                            <p class="subtitle">Consulta de participación DETALLADO </p>
                            <div id="page-wrap">
                                <table class="table21">
                                    <tbody id="resultados">
                                        <tr class="titulo_tabla">
                                            <td>@ViewBag.TituloColumna</td>
                                            <td>TOTAL ASISTENTES</td>
                                            <td>% TOTAL ASISTENTES</td>
                                            <td>TOTAL AUSENTES</td>
                                            <td>% TOTAL AUSENTES</td>
                                            <td>ELECTORES HÁBILES</td>
                                        </tr>
                                        @foreach(var lstP in Model)
                                        {
                                            string proximaAccion = ViewBag.Accion;

                                            // Construcción de parámetros para el clic
                                            object parametros = null;
                                            if (proximaAccion == "verProvincia")
                                            {
                                                parametros = new { detalle = lstP.detalle, ambito = ViewBag.Ambito };
                                            }
                                            else if (proximaAccion == "verDistrito")
                                            {
                                                parametros = new { detalle = lstP.detalle, ambito = ViewBag.Ambito, nivel1Anterior = ViewBag.DatoNivel1 };
                                            }

                                            <tr onclick="location.href='@Url.ActionLink(proximaAccion, "Participacion", parametros)'" onmouseover="this.style.cursor = &quot;pointer&quot;; this.style.color = &quot;grey&quot;" onmouseout="this.style.color = &quot;black&quot;" style="cursor: pointer; color: black;">
                                            
                                                    <td>@lstP.detalle</td>
                                                    <td>@lstP.TV</td>
                                                    <td>@lstP.PTV</td>
                                                    <td>@lstP.TA</td>
                                                    <td>@lstP.PTA</td>
                                                    <td>@lstP.EH</td>
                                           
                                            
                                            </tr>
                                        }
                                        <tr>
                                            <td>TOTALES</td>
                                            <td>17,953,367</td>
                                            <td>81.543%</td>
                                            <td>4,063,663</td>
                                            <td>18.457%</td>
                                            <td>22,017,030</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

<div id="divDetalle"></div>
<br />
